.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px !important;
    font-size: 13px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 0 !important;
    border-bottom: 1px solid #eee !important;
}