.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px !important;
    font-size: 13px !important;
}

.tag-selector-input fieldset{
    border: 0 !important;
}

.css-1x5jdmq {
    padding: 10px !important;
    font-size: 13px !important;
}

